body {
  margin-left: 20px;
  padding-top: 50px;
}

.navbar {
  background-color: aqua;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
}

.navdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  padding-top: 10px;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: all 0.3s ease;
  padding: 5px 10px;
  border-radius: 5px;
}

.menu a:hover {
  background-color: black;
  color: white;
  transform: translateY(-3px);
}
